[package]
name = "pathfinding-wgpu"
version = "0.1.0"
edition = "2021"

[dependencies]
wgpu = { path = "wgpu/wgpu" }
winit = { path = "winit" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2.83"
console_error_panic_hook = "0.1.7"
web-sys = { version = "0.3.60", features = ["console"]}
wgpu = { path = "wgpu/wgpu", features = ["webgl"] }
wasm-bindgen-futures = "0.4.34"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
pollster = "0.2.5"
# TODO wgpu tutorial says it needs to be cdylib to run on web, and rlib to run natively ???