name: Build and Deploy to Github Pages
on: push
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Running custom build script
        run: y | python3 build_web.py --release --rm-src
      - name: Deploying to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
